.AppOne {
    padding-top: 15px;
}

.AppOne label {
    vertical-align: top;
    position: relative;
    width: auto;
    height: auto;
    margin: 15px;
    font-family: Old Standart TT;
    font-size: 40px;
}

.AppOne input {
    vertical-align: top;
    border: 2px solid #000;
    outline: none;
    background: none;
    padding: 10px;
    border-radius: 10px;
    font-size: 1.2em;
    position: relative;
    left: 20px;
}
.AppOne textarea{
    vertical-align: top;
    border: 2px solid #000;
    outline: none;
    background: none;
    padding: 10px;
    border-radius: 10px;
    font-size: 1.2em;
    position: relative;
    left: 5%;
    resize: none;
	width: 72%;
}

.AppOne textarea::-webkit-scrollbar{
    display:none;
}

.AppOne button {
    background: dodgerblue;
    color: #fff;
    border: #fff;
    transition-delay: 1s;
    position: relative;
    left: 110px;
    padding: 10px;
    border-radius: 10px;
    font-size: 1.2em;
}

.AppOne button:hover {
    background: linear-gradient(45deg, greenyellow, dodgerblue);
}

#FormOne {
    width: auto;
    margin: 7px 0px 7px 20px;
    text-align: left;
    display: block;
}

#FormMessage {
    margin: 0px 0px 7px 20px;
    text-align: left;
    height: auto;
    display: block;
}