@font-face {
    font-family: 'Old Standart TT';
    src: url('../font/Old Standart TT.ttf');
}

footer {
    background-color: lightsteelblue;
    height: auto;
    padding: 5px;
    border-radius: 20px;
    font-size: 1.0em;
}

.Author img {
    max-width: 30px;
}

.gitLabImage {
    content: url("../img/gitlab_icon.png");
}

.numberImage {
    content: url("../img/number_icon.png");
}

.vkImage {
    content: url("../img/vk_icon.png");
}

.telegramImage {
    content: url("../img/telegram_icon.png");
}

.Author ul{
    margin:0;
}

.Author li {
    list-style-type: none;
    margin-top:15px;
}
.Author li a{
    margin:10px;
}

.Author{
    max-width:400px;
}

.Author label{
    font-family: Old Standart TT;
    font-size: 25px;
}