@font-face {
    font-family: 'Old Standart TT';
    src: url('../font/Old Standart TT.ttf');
}

.bodyMessage {
    display: inline-flex;
    margin: auto;
}

.bodyMessage li{
    list-style-type:none;
    width:170px;
    height:auto;
    display:flex;
    margin-top:10px;
    margin-bottom:10px;
}

.bodyMessage div{
    margin:0;
    height:auto;
    max-height: 150px;
	overflow: hidden;
    text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 4;
	-webkit-box-orient: vertical;
}
.bodyMessage div:hover{
    height:auto;
}

.bodyMessage ul{
    text-align:center;
    padding-left:5px;
    padding-right:5px;
    margin-left:15px;
    margin-right:15px;
}

.bodyMessage label{
    text-align:center;
    font-family: Calibri;
    font-weight: 700;
    font-size:20px;
}

.Error {
    font-family: Old Standart TT;
    font-size: 30px;
    text-align: center;
    background-color: #ffffff;
    margin:0px;
    height: auto;
    border-radius: 20px;
    font-size: 1.2em;
}
