@font-face {
    font-family: 'Old Standart TT';
    src: url('font/Old Standart TT.ttf');
}

.content {
    padding: 20px;
    min-height: 100%;
    margin: 0 auto -50px;
}

.App {
    text-align: center;
    display: block;
    margin: 20px;
    background: #ffffff;
    width: 400px;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 40px;
    font-size: 1.2em;
    height: 450px;
}

.AppTwo {
    text-align: center;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 50px;
    background-color: #ffffff;
    padding: 15px;
    margin-top: 5%;
    border-radius: 20px;
    font-size: 1.2em;
    position: relative;
    padding-right: 50px;
}
