html{
    height:100%;
    width:100%;
    margin:0;
}
body {
    height: 100%;
    margin: 0;
    background: rgb(183,249,163);
    background: linear-gradient(90deg,
    rgba(183,249,163,1) 0%,
    rgba(183,249,163,1) 23%,
    rgba(0,212,255,1) 100%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
